+++
nav:
  phots: true
+++

<div class="jumbotron">
  <h1>OH NO!</h1>
  <p>That image couldn't be downloaded <i class="icon-frown"></i></p>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Error</h3>
      </div>
      <div class="panel-body">
        <pre>{{error}}</pre>
      </div>
    </div>
  </div>
</div>
