+++
nav:
  phots: true
+++
<div class="row">
  {{#pictures}}
    <div class="col-sm-6 col-md-4" style="margin-bottom: 20px;">
      <div class="thumbnail">
        <img src="/transientbug/gifs/{{{.}}}" style="height: 200px" alt="{{.}}">
        <div class="caption">
          <h6>{{{.}}}</h6>
          <p>
            <div class="btn-group">
              <button type="button" class="btn btn-success btn-sm">Link</button>
              <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                <i class="icon-chevron-down"></i>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/transientbug/gifs/{{{.}}}">Raw link</a></li>
                <li><a href="/phots/view/{{{.}}}">Page link</a></li>
              </ul>
            </div>
            <a href="#" class="btn btn-default btn-sm">Edit</a>
          </p>
        </div>
      </div>
    </div>
  {{/pictures}}
</div>
