+++
nav:
  phots: true

scripts: "
      $('.thumbnail_h6').tooltip();
  "
+++

<div class="row">
  {{#req.session.has_phots}}
    <div class="col-sm-12 col-md-1">
      <a href="/phots/new" class="btn btn-theme btn-sm">Add</a>
    </div>
  {{/req.session.has_phots}}
  <div class="col-sm-12 col-md-5">
    <h4><i class="icon-picture"></i> Phots{{#tag}} - Tag: {{tag}}{{/tag}}</h4>
  </div>
  <div class="col-sm-12 col-md-6">
    <form class="form-inline pull-right" role="pagination_options">
      <div class="form-group">
        <label class="sr-only" for="filter">Filter</label>
        <select id="filer" name="filter"class="input-sm">
          {{#filter}}<option value={{filter}}>{{filter}}</option>{{/filter}}
          <option value=all>all</option>
          <option value=gif>gif</option>
          <option value=jpg>jpg</option>
          <option value=png>png</option>
          <option value=tiff>tiff</option>
        </select>
      </div>
      <div class="form-group">
        <label class="sr-only" for="dir">Sort</label>
        <select id="dir" name="dir"class="input-sm">
          {{#page.dir}}<option value={{page.dir}}>{{page.dir}}</option>{{/page.dir}}
          <option value=desc>desc</option>
          <option value=asc>asc</option>
        </select>
      </div>
      <div class="form-group">
        <label class="sr-only" for="perpage">Perpage</label>
        <select id="perpage" name="perpage" class="input-sm">
          {{#page.perpage}}<option value={{page.perpage}}>{{page.perpage}}</option>{{/page.perpage}}
          <option value=24>24</option>
          <option value=48>48</option>
          <option value=all>All</option>
        </select>
      </div>
      <button type="submit" class="btn btn-theme btn-sm">Update</button>
    </form>
  </div>
</div>
<br>
<div class="row">
  {{#pictures}}
    <div class="col-sm-6 col-md-4" style="margin-bottom: 20px;">
      <div class="thumbnail">
        <a href="/i/{{{filename}}}" class="thumbnail"><img src="/i/{{{filename}}}" style="height: 200px" alt="{{filename}}"></a>
        <div class="caption">
          <div class="row">
            <div class="col-md-8">
              <a href="/i/{{{filename}}}"><h6 class="thumbnail_h6" data-toggle="tooltip" title="{{title}}">{{{title}}}</h6></a>
            </div>
            <div class="col-md-4">
              <a href="/phots/view/{{{filename}}}" class="btn btn-theme btn-sm pull-right">Page</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/pictures}}
</div>

{{#page.show}}
  <ul class="pager">
    <li class="previous {{^page.hasPrev}}disabled{{/page.hasPrev}}">
      {{#page.hasPrev}}
        <a href="?page={{page.prev}}&perpage={{page.perpage}}&dir={{page.dir}}&filter={{filter}}"><i class="icon-chevron-left"></i> Prev</a>
      {{/page.hasPrev}}
      {{^page.hasPrev}}
        <a><i class="icon-chevron-left"></i> Prev</a>
      {{/page.hasPrev}}
    </li>
    <li class="next {{^page.hasNext}}disabled{{/page.hasNext}}">
      {{#page.hasNext}}
        <a href="?page={{page.next}}&perpage={{page.perpage}}&dir={{page.dir}}&filter={{filter}}">Next <i class="icon-chevron-right"></i></a>
      {{/page.hasNext}}
      {{^page.hasNext}}
        <a>Next <i class="icon-chevron-right"></i></a>
      {{/page.hasNext}}
    </li>
  </ul>
{{/page.show}}
