+++
nav:
  phots: true
+++
{{#req.session.has_admin}}
  <div class="row">
    <div class="col-sm-12 col-md-2">
      <h4><i class="icon-picture"></i> Phots</h4>
    </div>
    <div class="col-sm-12 col-md-4">
      <a href="/phots/new" class="btn btn-success btn-sm">Add</a>
    </div>
    <div class="col-sm-12 col-md-6">
    </div>
  </div>
{{/req.session.has_admin}}
<br>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">{{name}} <small>({{picture}})</small></h3>
      </div>
      <div class="panel-body">
        <div class="container" style="text-align: center;">
          <img src="/i/{{{picture}}}" alt="{{name}}">
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
