+++
nav:
  phots: true
+++
{{#req.session.has_phots}}
  <div class="row">
    <div class="col-sm-12 col-md-2">
      <h4><i class="icon-picture"></i> Phots</h4>
    </div>
    <div class="col-sm-12 col-md-4">
      <a href="/phots/new" class="btn btn-theme btn-sm">Add</a>
    </div>
    <div class="col-sm-12 col-md-6">
    </div>
  </div>
{{/req.session.has_phots}}
<br>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">{{name}} <small>({{picture}})</small></h3>
      </div>
      <div class="panel-body">
        <div class="container" style="text-align: center;">
          <img src="/i/{{{picture}}}" alt="{{name}}" class="col-md-12">
        </div>
        <br>

        {{#req.session.has_phots}}
        <form role="form" action="/phots/edit/rename/{{{picture}}}" method="POST">
          <div class="form-group">
            <label for="name">Rename</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="New name..." required>
            <p class="help-block">All spaces in this name will be replaced with underscores.</p>
          </div>
          <button type="submit" class="btn btn-theme">Submit</button> <button type="button" class="btn btn-danger" id="del_btn" data-img={{{picture}}}>Delete</button>
        </form>
        {{/req.session.has_phots}}

      </div>
    </div>
  </div>
</div>
