+++
#base: skeleton_header_navbar
theme_color: orange
nav:
  admin_home: true
+++

<ol class="breadcrumb">
  <li class="active">Admin</li>
</ol>

<dl class="dl-horizontal">
  <dt><a href="/admin/announcements"> Site Announcements</a></dt>
  <dd>Manage which announcements are currently active and when they will start and end.</dd>

  <dt><a href="/admin/buckets"> Buckets</a></dt>
  <dd>Manage feature flags for the site; These could enable or disable various advanced features, or some helpful debugging features.</dd>
</dl>
