@import url("//fonts.googleapis.com/css?family=Noto+Sans:300italic,400italic,700italic,400,300,700");

@import url("//fonts.googleapis.com/css?family=Maven+Pro:300italic,400italic,700italic,400,300,700");
/*@navbar-default-border:            darken(@navbar-default-bg, 6.5%);*/
/*bespoke-parent  The deck's containing element*/
/*bespoke-slide Every slide element*/
/*bespoke-active  The active slide*/
/*bespoke-inactive  All inactive slides*/
/*bespoke-before  All slides before the active slide*/
/*bespoke-before-n  All slides before the active slide, with n value incrementing*/
/*bespoke-after All slides after the active slide*/
/*bespoke-after-n All slides after the active slide, with n value incrementing*/
/*bespoke-progress-parent The progress bar's parent element*/
/*bespoke-progress-bar The progress bar*/
.bespoke-progress-parent > .bespoke-progress-bar {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  background-color: #77b300;
  height: 2px;
  -webkit-box-shadow: -5px 0px 3px 4px #77b300;
  -moz-box-shadow: -5px 0px 3px 4px #77b300;
  box-shadow: -5px 0px 3px 4px #77b300;
}
body {
  background-color: #e1e1e1;
  color: #000000;
}
article.bespoke-parent {
  position: fixed;
  top: 0;
  left: 0;
}
article.bespoke-parent section {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
article.bespoke-parent section h1 {
  font-size: 8em;
}
article.bespoke-parent section h1.page-header {
  font-size: 12em;
  font-weight: 700;
}
article.bespoke-parent section h2 {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 6em;
}
article.bespoke-parent section p {
  font-size: 2.5em;
}
article.bespoke-parent section.bespoke-slide {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
article.bespoke-parent section.bespoke-active {
  -webkit-transition: opacity 0.3s ease, background 0.3s ease;
  -moz-transition: opacity 0.3s ease, background 0.3s ease;
  -o-transition: opacity 0.3s ease, background 0.3s ease;
  transition: opacity 0.3s ease, background 0.3s ease;
  opacity: 1;
  z-index: 1;
}
article.bespoke-parent section.bespoke-inactive {
  pointer-events: none;
  z-index: 0;
  opacity: 0;
}
