<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form method="POST" class="form form-horizontal">
      <fieldset>
        <legend>Password Reset Request</legend>
        <p>Please enter your email, and we'll get a reset request sent off to you with further instructions.</p>
        <div class="form-group">
          <div class="col-md-3">
            <label for="username">Email: </label>
          </div>
          <div class="col-md-9">
            <input class="form-control" type="text" name="username" />
          </div>
        </div>
      </fieldset>
      <button type="submit" class="btn btn-theme pull-right"><i class="fa fa-check"></i> Request</button>
    </form>
  </div>
</div>
