+++
theme_color: purple

nav: recipes

scriptFiles:
 - public/recipes/list
+++

{% if recipes.pail %}
  ![[partials/public/recipes/options_bar]]
  ![[partials/public/recipes/list]]
  {{recipes.pager}}
{% else %}
  <div class="jumbotron">
    <h1>No Recipes :/</h1>
    {% if req.session.id %}
      <a href="/recipes/new" class="btn btn-purple">New</a>
    {% endif %}
  </div>
{% endif %}
