+++
theme_color: purple
nav: recipes

scriptFiles:
  - public/recipes/view
  - public/recipes/edit
+++

{% if req.session.id and req.session.id==recipe.user.id %}
  <ul class="nav nav-pills">
    <li class="active"><a href="#view" data-toggle="tab">View</a></li>
    <li><a href="#edit" data-toggle="tab">Edit</a></li>
    <li class="pull-right"><a href="#delete" data-toggle="tab">Delete</a></li>
  </ul>
  <br>
{% endif %}
<div class="tab-content">
  <div class="tab-pane active" id="view">
    ![[partials/public/recipes/view]]
  </div>
  {% if req.session.id and req.session.id==recipe.user.id %}
    <div class="tab-pane" id="edit">
      ![[partials/public/recipes/edit]]
    </div>
    <div class="tab-pane" id="delete">
      <div class="jumbotron">
        <h1>Hold it!</h1>
        <p class="lead">You're about to delete this recipe. Are you sure you want
        to do that?</p>
        <div class="row">
          <div class="col-md-4 col-md-offset-2">
            <button id="yes-delete" class="btn btn-red">Yes, delete this</button>
          </div>
          <div class="col-md-4">
            <button id="no-delete" class="btn btn-default">No, do NOT delete this</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
