+++
theme_color: purple
nav: recipes

scriptFiles:
  - public/recipes/view
  - public/recipes/edit
+++

{% if req.session.id and req.session.id==recipe.user.id %}
  <ul class="nav nav-pills">
    <li class="active"><a href="#view" data-toggle="tab">View</a></li>
    <li><a href="#edit" data-toggle="tab">Edit</a></li>
  </ul>
{% endif %}
<div class="tab-content">
  <div class="tab-pane active" id="view">
    ![[partials/public/recipes/view]]
  </div>
  {% if req.session.id and req.session.id==recipe.user.id %}
    <div class="tab-pane" id="edit">
      <br>
      ![[partials/public/recipes/edit]]
    </div>
  {% endif %}
</div>
