      <div class="row">
        <div class="col-md-10 col-md-offset-1" id="about">
          <h1>What is transientBug?</h1>
          <p>First and for most, transientBug is an experiment and sandbox for publishing my own web app, however the site itself is mostly a private, login only site. The one exception is the image collection, consisting of various gifs, memes, and other images from around the web. You can view that <a href="/phots">collection here.</a></p>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1" id="about">
          <h1>Technical information<br><small>What makes transientBug run</small></h1>
          <p>All code for transientBug can be found online at <a href="https://github.com/JoshAshby/transientBug">Github</a> and is licensed under Creative Commons Attribution-NonCommercial-ShareAlike 3.0.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h3>Python</h3>
          <ul>
            <li>Seshat, a web framework by me, built on top of <a href="http://www.gevent.org/">Gevent</a></li>
            <li><a href="https://pypi.python.org/pypi/RethinkORM/">My RethinkORM module</a></li>
            <li>An unpublished Redis ORM module</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4">
          <h3>Databases</h3>
          <ul>
            <li><a href="http://www.rethinkdb.com/">RethinkDB</a></li>
            <li><a href="http://redis.io/">Redis</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4">
          <h3>Front end</h3>
          <ul>
            <li><a href="http://getbootstrap.com/">Twitter Bootstrap v3</a></li>
            <li><a href="http://bootswatch.com/cyborg/">Cyborg Theme from bootswatch with some additional custom css</a></li>
            <li><a href="http://fontawesome.io/">Fontawesome for the icons</a></li>
          </ul>
        </div>
      </div>
