<div class="row">
  <div class="span6 offset3">
    <h2>Please log in...</h1>
    <form class="form form-horizontal" method="POST" action="/auth/login">
      <div class="control-group {{#usernameError}}error{{/usernameError}}">
        <input type="text" placeholder="username or email..." name="username" class="span6" value="{{username}}">
      </div>
      <div class="control-group {{#passwordError}}error{{/passwordError}}">
        <input type="password" placeholder="password..." name="password" class="span6">
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-signin"></i> Log in</button>
        {{#req.cfg.enableRequests}}
          <b class="muted">Or...</b>
          <a href="/request">Request an invite</a>
        {{/req.cfg.enableRequests}}
        {{#req.cfg.enableRegistration}}
          <b class="muted">Or...</b>
          <a href="/auth/register">Register an account</a>
        {{/req.cfg.enableRegistration}}
      </div>
    </form>
  </div>
</div>
