+++
base: skeletons/sidebar
nav: home

scriptFiles:
  - public/index/index
+++

<div id="wall">
  <div class="brick col-md-6">
    ![[partials/public/phots/create]]
  </div>
  <div class="brick col-md-6">
    ![[partials/public/notes/edit]]
  </div>
  <div class="brick col-md-6">
    ![[partials/public/phots/search]]
  </div>
  <div class="brick col-md-6">
    ![[partials/public/screenshot_create]]
  </div>
</div>
