<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>fla.gr - {{req.title}}</title>
    <meta name="description" content="{{req.description}}">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{static}}/css/bootstrap/{{bootstrapCSS}}">
    <style>
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link rel="stylesheet" href="{{static}}/css/bootstrap/bootstrap-responsive.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

    <!--<link rel="stylesheet" href="{{static}}/css/bootstrap-markdown.css">-->
    <link rel="stylesheet" href="{{static}}/css/custom_styles.css">
    <!--[if IE 7]>
      <link rel="stylesheet" href="{{static}}/css/font-awesome-ie7.min.css">
    <![endif]-->

    <!-- Begin page stylsheets -->
    {{#stylesheets}}
      <script src="{{static}}/css/{{.}}.css"></script>
    {{/stylesheets}}
    <!-- End page style sheets -->

    <script src="{{static}}/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <!-- Begin nav bar (messy) -->
    <div class="navbar {{classes.navbar}} navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/"><i class="icon-flag"></i> fla.gr</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {{#req.session.userID}}
                <li class=""><a href="/you/flags"><i class="icon-home"></i></a></li>
              {{/req.session.userID}}
              {{^req.session.userID}}
                <li class=""><a href="/"><i class="icon-home"></i></a></li>
              {{/req.session.userID}}
              {{#req.cfg.enablePublicPages}}
                <li class=""><a href="/flags"><i class="icon-flag"></i></a></li>
                {{#req.cfg.enablePublicLabels}}
                <li class=""><a href="/labels"><i class="icon-tags"></i></a></li>
                {{/req.cfg.enablePublicLabels}}
                {{#req.cfg.enablePublicSearch}}
                  <li class="dropdown">
                    <a href="#" id="dropdownSearchToggle" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></a>
                    <ul class="dropdown-menu">
                      <form style="padding-left: 20px; padding-right: 20px; padding-top:20px" action="/search">
                        <fieldset>
                          <div class="input-append">
                            <input class="span3" id="dropdownSearchInput" type="text" placeholder="Search..." name="s" value="{{searchQuery}}">
                            <button type="submit" class="btn btn-primary"><i class="icon-search"></i></button>
                          </div>
                        </fieldset>
                      </form>
                    </ul>
                  </li>
                {{/req.cfg.enablePublicSearch}}
              {{/req.cfg.enablePublicPages}}
            </ul>
            <!-- Right hand drop down -->
            {{#req.session.userID}}
                <ul class="nav pull-right">
                  <li><a href="/you/flags"><i class="icon-dashboard"></i></a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Heya, {{req.session.username}} <i class="icon-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="/flags/new"><i class="icon-flag"></i> Create a flag</a></li>
                      {{#req.session.hasAdmin}}
                        <li class="nav-header">Toys...</li>
                        <li><a href="/flagpole"><i class="icon-wrench"></i> Admin Panel</a></li>
                      {{/req.session.hasAdmin}}
                      <li class="nav-header">Or...</li>
                      <li><a href="/you/settings"><i class="icon-cogs"></i> Account Settings</a></li>
                      <li><a href="/auth/logout"><i class="icon-signout"></i> Log out</a></li>
                    </ul>
                  </li>
                </ul>
            {{/req.session.userID}}
            {{^req.session.userID}}
                <ul class="nav pull-right">
                  <li class="dropdown">
                    <a href="#" id="dropdownLoginToggle" class="dropdown-toggle" data-toggle="dropdown">Ohia, Stranger! <i class="icon-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                      <form style="padding-left: 20px; padding-right: 20px" action="/auth/login" method="POST">
                        <fieldset>
                          <input id="dropdownLoginEmail" class="span3" type="text" placeholder="Email" name="username">
                          <input id="dropdownLoginPassword" class="span3" type="password" placeholder="Password" name="password">
                          <button type="submit" class="btn btn-primary"><i class="icon-signin"></i> Log in</button>
                        </fieldset>
                      </form>
                      {{#req.cfg.enableRequests}}
                        <li class="nav-header">Or...</li>
                        <li><a href="/request">Request an invite</a></li>
                      {{/req.cfg.enableRequests}}
                      {{#req.cfg.enableRegistration}}
                        <li class="nav-header">Or...</li>
                        <li><a href="/auth/register">Register an account!</a></li>
                      {{/req.cfg.enableRegistration}}
                    </ul>
                  </li>
                </ul>
            {{/req.session.userID}}
            <!-- End right hand drop down -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- End nav bar -->


    <!-- Begin main body container -->
    <div class="container">
      <!-- Begin alerts section -->
      <div class="row">
        <div class="span10 offset1">
          {{{req.session._HTMLAlerts}}}
        </div>
      </div>
      <!-- End alerts section -->

      <!-- Begin Main Body -->
      {{{body}}}
      <!-- End Main Body -->

      <!-- Begin Footer -->
      <hr>
      <div class="row">
        <div class="span10 offset1">
          <footer>
            <small>
              A project by <a href="http://transientBug.com"><i class="icon-bug"></i> transientBug</a>
              &copy 2013 <a href="http://github.com/transientBug"><i class="icon-github"></i></a>
              <a href="http://twitter.com/transientBug"><i class="icon-twitter"></i></a>
            </small>
            <input type="hidden" id="userID" value="{{req.session.userID}}">
          </footer>
        </div>
      </div>
      <!-- End Footer -->
    </div>
    <!-- End main body container -->

    <!-- jQuery and bootstrap JS stuff -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{static}}/js/jquery-1.9.1.min.js"><\/script>')</script>

    <script src="{{static}}/js/bootstrap.min.js"></script>
    <!--<script src="{{static}}/js/bootstrap-markdown.js"></script>-->
    <!-- End -->

    <!-- Begin global fla.gr scripts -->
    {{#scripts}}
      <script src="{{static}}/js/{{.}}.js"></script>
    {{/scripts}}
    <!-- End global fla.gr scripts -->

    <!-- GA stuffz <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script> -->
  </body>
</html>
