+++
styles: "
      @import url(http://fonts.googleapis.com/css?family=Maven+Pro:700);

      .navbar-brand, footer {
        font-family: 'Maven Pro', sans-serif;
      }

      .thumbnail {
        border: #2b2b2b solid 2px
      }
      "
+++
<!doctype html>
<html>
  <head>
  <title>transientBug - {{{req.title}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">-->
    <!--<link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/cosmo/bootstrap.min.css" rel="stylesheet">-->
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/cyborg/bootstrap.min.css" rel="stylesheet">
    <!-- Begin page stylsheets -->
    {{#stylesheets}}
      <script src="{{static}}/css/{{.}}.css"></script>
    {{/stylesheets}}

    {{#styles}}
      <style>
        {{{styles}}}
      </style>
    {{/styles}}
    <!-- End page style sheets -->
  </head>
  <body>
    <div class="container">
      <br>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <nav class="navbar navbar-default navbar-inverse" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">transientBug</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              {{#req.session.userID}}
                <ul class="nav navbar-nav">
                  <li {{#nav.phots}}class="active"{{/nav.phots}}><a href="/phots"><i class="icon-picture"></i></a></li>
                  <li {{#nav.screenshots}}class="active"{{/nav.screenshots}}><a href="/screenshots"><i class="icon-screenshot"></i></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-right: 15px">
                  {{#req.session.has_admin}}
                    <li {{#nav.home}}class="active"{{/nav.home}} class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ello, {{req.session.username}} <i class="icon-chevron-down"></i></a>
                      <ul class="dropdown-menu">
                        <li {{#nav.admin}}class="active"{{/nav.admin}}><a href="#"><i class="icon-meh"></i> Admin</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="icon-signout"></i> Logout</a></li>
                      </ul>
                    </li>
                  {{/req.session.has_admin}}
                </ul>
              {{/req.session.userID}}
              {{^req.session.userID}}
                <form class="navbar-form navbar-right" role="logic" action="/login" method="POST">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username..." name="username">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password..." name="password">
                  </div>
                  <button type="submit" class="btn btn-default btn-success">Login</button>
                </form>
              {{/req.session.userID}}
            </div><!-- /.navbar-collapse -->
          </nav>
        </div>
      </div>

      <!-- Begin alerts section -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          {{{req.session._HTMLAlerts}}}
        </div>
      </div>
      <!-- End alerts section -->

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          {{{body}}}
        </div>
      </div>

      <hr>
      <footer id="footer">
        <div class="row">
          <div class="col-6">
            transientBug.com by transientBug 2013
          </div>
          <div class="col-6">
            <p class="pull-right"><a href="#top">Back to top</a></p>
          </div>
        </div>
      </footer>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <!-- Begin page scripts -->
    {{#scriptFiles}}
      <script src="{{static}}/js/{{.}}.js"></script>
    {{/scriptFiles}}

    {{#scripts}}
      <script>
        {{{scripts}}}
      </script>
    {{/scripts}}
    <!-- End page scripts -->
  </body>
</html>
