<!doctype html>
<html>
  <head>
  <title>transientBug - {{{req.title}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

    <!-- Begin page stylsheets -->
    {{#stylesheets}}
      <script src="{{static}}/css/{{.}}.css"></script>
    {{/stylesheets}}

    {{#styles}}
      <style>
        {{{styles}}}
      </style>
    {{/styles}}
    <!-- End page style sheets -->

    <script src="http://code.jquery.com/jquery.js"></script>
  </head>
  <body>

    {{{body}}}

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <!-- Begin page scripts -->
    {{#scriptFiles}}
      <script src="{{static}}/js/{{.}}.js"></script>
    {{/scriptFiles}}

    {{#scripts}}
      <script>
        {{{scripts}}}
      </script>
    {{/scripts}}
    <!-- End page scripts -->
  </body>
</html>
