<!-- Begin pagination -->
<div class="pagination pagination-centered">
  <ul>
    {{#previous}}
        <li><a href="?page={{previous}}{{#perpage}}&perpage={{perpage}}{{/perpage}}">&laquo;</a></li>
    {{/previous}}
    {{^previous}}
        <li class="disabled"><span>&laquo;</span></li>
    {{/previous}}

    {{#pages}}
      <li class="{{class}}"><a href="?page={{number}}{{#perpage}}&perpage={{perpage}}{{/perpage}}">{{number}}</a></li>
    {{/pages}}
    {{#next}}
      <li><a href="?page={{next}}{{#perpage}}&perpage={{perpage}}{{/perpage}}">&raquo;</a></li>
    {{/next}}
    {{^next}}
      <li class="disabled"><span>&raquo;</span></li>
    {{/next}}
  </ul>
</div>
<!-- End Pagination -->
