+++
theme_color: red

nav:
  notes: true
+++

<div class="jumbotron">
  <h1>OH NO!</h1>
  <p>We couldn't find any matching tags matching: <span class="label label-theme">{{tag}}</span><br>Maybe you should try a different search?</p>

  <form method="GET" action="/notes/by/tags" class="form-inline">

    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control input-sm" name="q" placeholder="Search Tags...">
        <span class="input-group-btn">
          <button class="btn btn-theme btn-sm" type="submit"><i class="icon-search"></i></button>
        </span>
      </div>
    </div>

  </form>
</div>
