+++
theme_color: red

nav:
  notes: true
+++

<div class="jumbotron">
  <h1>AAAAHHHHH...</h1>
  <p>Slow down! There aren't any tags anywhere to be found!!</p>
  {{#req.session.userID}}
    <p>Maybe you should <a href="/notes/new">make one...</a></p>
  {{/req.session.userID}}
</div>
