<ul class="nav list-group">
  <li><a href="/" class="{{ 'active' if command=="home" }}"><i class="fa fa-fw fa-home"></i> Admin</a></li>
  <li><a href="/new/phot" class="{{ 'active' if command=="new_phot" }}"><i class="fa fa-fw fa-picture-o"></i> New Phot</a></li>
  <li><a href="/new/note" class="{{ 'active' if command=="new_note" }}"><i class="fa fa-fw fa-file-text"></i> New Note</a></li>
</ul>
