{% for recipe in recipes.pail %}
  <div class="recipe">
    <div class="recipe-header">
      <a href="/recipes/{{recipe.short_code|e}}"><h1>{{recipe.title|e}}</h1></a>
      <small><b>By</b> {{ recipe.user.username|e if recipe.user.id!=session.id else 'You!'}} - {{recipe.created.humanize()}}{% if session.id %} | <b>Visibility:</b> {{ 'Public' if recipe.public else 'Private' }}{% endif %}</small><br>
      {% if recipe.country %}
        <b>Country: </b> {{recipe.country|e}} <br>
      {% endif %}
      {% if recipe.tags %}
        <b>Tags: </b>
        {% for tag in recipe.tags %}
          <a href="/recipes/search?s=tags:{{tag|e}}"><span class="label label-purple">{{tag|e}}</span></a>
        {% endfor %}
        <br>
      {% endif %}
      <p>{{recipe.description}}</p>
    </div>
    {% if not loop.last %}
      <hr>
    {% endif %}
  </div>
{% endfor %}
