<div class="row">
  <div class="col-md-4 col-sm-12">
    <form method="GET" action="/recipes/search" class="form-inline">
      <div class="controls">
        <div class="input-group input-group-sm">
          {% if req.session.id %}
            <span class="input-group-btn">
              <a href="/recipes/new" class="btn btn-purple btn-sm">New</a>
            </span>
          {% endif %}
          <input type="text" class="form-control search" name="s" id="search" placeholder="Search Recipes...">
          <span class="input-group-btn">
            <button class="btn btn-purple btn-sm" type="submit"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-12 col-md-2">
    {% if req.session.id %}
      <a href="/recipes/yours" class="btn btn-purple btn-sm">Your Recipes</a>
    {% endif %}
  </div>
  <div class="col-sm-12 col-md-6">
    <form class="form-inline pull-right" role="pagination_options">
      {{recipes.options}}
    </form>
  </div>
</div>
<br>

{% if req.get_param("s") %}
  <p>Results for: {{ req.get_param("s")|e }} ({{recipes.pail|length if recipes.pail else 0}} recipes)</p>
{% endif %}
