<div class="recipe">
  <div class="row">
    <div class="col-md-6">
      <div class="recipe-header">
        <h1>{{recipe.title|e}}</h1>
        <small><b>By</b> {{ recipe.user.username|e if recipe.user.id!=req.session.id else 'You!'}} - {{recipe.created.humanize()}}{% if req.session.id %} | <b>Visibility:</b> {{ 'Public' if recipe.public else 'Private' }}{% endif %}</small>
        <p>{{recipe.description}}</p>
        {% if recipe.tags %}
          <b>Tags: </b>
          {% for tag in recipe.tags %}
            <a href="/recipes/search?s=tags:{{tag|e}}"><span class="label label-purple">{{tag|e}}</span></a>
          {% endfor %}
          <br>
        {% endif %}
        {% if recipe.country %}
          <b>Country: </b> {{recipe.country|e}} <br>
        {% endif %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="recipe-ingredients well">
        <h3 style="margin-top: 0px;">Ingredients</h3>
        <ul>
          {% for ingredient in recipe.ingredients %}
            <li>{{ingredient|e}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <br>
  {% for col in recipe.steps|slice(2) %}
    <div class="row">
      {% for step in col %}
        <div class="col-md-6">
          <b>Step {{loop.index}} - </b>{{step|e}}<br>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
