<div class="recipe">
  <div class="row">
    <div class="col-md-12">
      <div class="recipe-ingredients well">
        <h3 style="margin-top: 0px;">Ingredients</h3>
        <ul class="row">
          {% for col in recipe.ingredients|slice(2) %}
          {% set outerloop = loop %}
            <div class="col-md-6">
              {% for ingredient in col %}
                <li>{{ingredient|e}}</li>
              {% endfor %}
            </div>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    {% for col in recipe.steps|slice(2) %}
    {% set outerloop = loop %}
      <div class="col-md-6">
        {% for step in col %}
          {% if recipe.steps|length%2==1 %}
            {% set add = loop.length+1 %}
          {% else %}
            {% set add = loop.length %}
          {% endif %}
          <b>Step {{loop.index if outerloop.index==1 else loop.index+add}} - </b>{{step|e}}<br>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
