<div class="row">
  {% if req.session.has_notes %}
    <div class="col-md-1">
      <a href="/new/note" class="btn btn-red btn-sm">New</a>
    </div>
  {% endif %}
  <div class="col-sm-12 col-md-{{ '5' if req.session.has_notes else '6' }}">
    <h4><a href="/notes"><i class="fa fa-file-text"></i> Notes</a></h4>
  </div>
  <div class="col-sm-12 col-md-6">
    <form class="form-inline pull-right" role="pagination_options">
      {% if req.session.id %}
        <div class="form-group">
          <label class="sr-only" for="filter">Filter</label>
          <select name="filter" class="input-sm form-control">
            <option value=all {{ 'selected="selected"' if type=="all" }}>All</option>
            <option value=private {{ 'selected="selected"' if type=="private" }}>Private</option>
            <option value=public {{ 'selected="selected"' if type=="public" }}>Public</option>
          </select>
        </div>
      {% endif %}

      {{page.options}}
    </form>
  </div>
</div>
<br>

{% for note in page.pail %}
  <div class="note">
    <div class="row">
      <div class="col-md-12">
        <div  class="note-header">
          <a href="/notes/{{note.short_code}}"><h1>{{note.title}}</h1></a>
          <small><b>By</b> {{ note.author.username if note.author.id!=req.session.id else 'You!'}} - {{note.formated_time}} | <b>Visibility:</b> {{ 'Public' if note.public else 'Private' }}{% if req.session.id %} | <b>Status:</b> {{ 'Draft' if note.draft else 'Published' }} {% endif %}</small>
        </div>
        <hr>
        <div class="note-body">
          {{note.formated_contents|truncate(250, True)}}
        </div>
        <hr>
        <b>Tags: </b>
        {% for tag in note.tags %}
          <a href="/notes/tags/{{tag}}"><span class="label label-red">{{tag}}</span></a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    {{page.pager}}
  </div>
</div>
