<ul class="nav list-group">
  <li><a href="#edit" data-toggle="tab"><i class="fa fa-fw fa-edit"></i> Edit</a></li>
  <li><a href="#view" data-toggle="tab"><i class="fa fa-fw fa-picture-o"></i> Preview</a></li>
  <li><a href="#info" data-toggle="tab"><i class="fa fa-fw fa-info"></i> Info</a></li>
</ul>
