+++
base: skeleton_header_navbar
nav:
  home: true

header: <i class="icon-dashboard"></i> Ohia!
+++

<h2>The Goods</h2>
<dl class="dl-horizontal">
  <dt><a href="/notes/new">New Note</a></dt>
  <dd>Quick link to make a new note!</dd>
</dl>
