+++
base: skeleton_header_navbar
nav:
  home: true
+++

{% if is_awesome %}
  <h4>Just showing off...</h4>
  <p>The awesomeness of being able to use jinja and mustache templates together.</p>
{% endif %}
