<div class="row">
  <div class="col-md-4 col-sm-12">
    <form method="GET" action="/notes/search" class="form-inline">
      <div class="controls">
        <div class="input-group input-group-sm">
          {% if req.session.has_phots %}
            <span class="input-group-btn">
              <a href="/new/phot" class="btn btn-red btn-sm">New</a>
            </span>
          {% endif %}
          <input type="text" class="form-control" name="s" id="s" value="{{req.get_param("s")}}" placeholder="Search Tags...">
          <span class="input-group-btn">
            <button class="btn btn-red btn-sm" type="submit"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-12 col-md-2">
    {% if req.session %}
      <a href="/notes/yours" class="btn btn-red btn-sm">Your Notes</a>
    {% endif %}
  </div>
  <div class="col-sm-12 col-md-6">
    <form class="form-inline pull-right" role="pagination_options">
      {% if req.session.id %}
        <div class="form-group">
          <label class="sr-only" for="filter">Filter</label>
          <select name="filter" class="input-sm form-control">
            <option value=all {{ 'selected="selected"' if type=="all" }}>All</option>
            <option value=private {{ 'selected="selected"' if type=="private" }}>Private</option>
            <option value=public {{ 'selected="selected"' if type=="public" }}>Public</option>
          </select>
        </div>
      {% endif %}

      {{page.options}}
    </form>
  </div>
</div>
<br>

{% for note in page.pail %}
  <div class="note">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div  class="note-header">
          <a href="/notes/{{note.short_code}}"><h1>{{note.title}}</h1></a>
          <small><b>By</b> {{ note.author.username if note.author.id!=req.session.id else 'You!'}} - {{note.formated_time}}{% if req.session.id %} | <b>Visibility:</b> {{ 'Public' if note.public else 'Private' }} | <b>Status:</b> {{ 'Draft' if note.draft else 'Published' }} {% endif %}</small>
        </div>
        <br>
        <div class="note-body">
          {{note.formated_contents|truncate(250)}}
        </div>
        <br>
        <b>Tags: </b>
        {% for tag in note.tags %}
          <a href="/notes/tags/{{tag}}"><span class="label label-red">{{tag}}</span></a>
        {% endfor %}
        <hr>
      </div>
    </div>
  </div>
{% endfor %}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    {{page.pager}}
  </div>
</div>
