<div class="note">
  <div class="row">
    {% if note.table_of_contents %}
      <div class="col-md-4 hidden-sm hidden-xs">
        <div id="toc" style="margin-top: 20px">
          <a href="?v=slideshow"><i class="fa fa-expand"></i> Slideshow</a>
          <h3 style="margin-top: 0px; padding-top: 0px;">Table of Contents</h3>
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
    {% else %}
      <div class="col-md-8 col-md-offset-2">
    {% endif %}
      <div  class="note-header">
        <h1>{{note.title}}</h1>
        <small><b>By</b> {{ note.author.username if
          note.author.id!=req.session.id else 'You!'}} - {{note.formated_time}}{% if req.session.id %} | <b>Visibility:</b> {{ 'Public' if note.public else 'Private' }} | <b>Status:</b> {{ 'Draft' if note.draft else 'Published' }} {% endif %}</small>
      </div>
      <br>
      <div class="note-body">
        {{note.formated_contents}}
      </div>
      <br>
      <b>Tags: </b>
      {% for tag in note.tags %}
        <a href="/notes/tags/{{tag}}"><span class="label label-red">{{tag}}</span></a>
      {% endfor %}
      <hr>
      {% if note.has_comments and note.public and not note.draft %}
        <div id="disqus_thread"></div>
        <script>
            var disqus_shortname = 'transientbug';
            var disqus_identifier = '{{note.short_code}}';
            var disqus_title = '{{note.title}}';
            var disqus_url = 'https://transientbug.com/notes/{{note.short_code}}';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                console.log(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]);
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      {% endif %}
    </div>
  </div>
</div>
