+++
theme_color: orange

nav:
  admin_maintenance: true
+++

<ol class="breadcrumb">
  <li><a href="/admin">Admin</a></li>
  <li class="active">Maintenance Msg</li>
</ol>
<br>

<div class="row">
  <div class="col-md-4 col-md-offset-2 col-sm-12">
    <ul class="nav nav-pills" id="myTab">
      <li class="active"><a href="#current" data-toggle="tab">Current</a></li>
      <li><a href="#old" data-toggle="tab">Previous</a></li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <form class="form-inline pull-right" role="pagination_options">
      {{{page.options}}}
    </form>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-12">
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active" id="current">
        <div class="thumbnail">
          <div class="caption">
            <form method="POST">
              <input type="hidden" name="id" value="{{current.id}}">
              <fieldset>
                <div class="form-group">
                  <input type="text" class="form-control" name="title" placeholder="Title" value="{{current.title}}"/>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="sub_title" placeholder="Sub Title" value="{{current.sub_title}}"/>
                </div>
                <div class="form-group">
                  <textarea rows="5" class="form-control" name="contents" placeholder="Maintenance Message...">{{{current.contents}}}</textarea>
                </div>
<!--                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="active" value="true" {{#current.active}}checked{{/current.active}}/> Make this the current maintenance message?
                  </label>
                </div> -->
                <button class="btn btn-theme btn-block" type="submit">Update Page</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="old">
        {{#previous}}
          
        {{/previous}}
      </div>
    </div>
  </div>
</div>
