+++
theme_color: orange
nav: admin_users
breadcrumbs_top: True
base: skeletons/sidebar

styles: "img.img {height: 75px;
width: 75px;
margin: 2px;
border: 1px solid;
padding: 5px;}"
+++
{{tabs}}
<div class="row">
  <div class="col-md-6 col-sm-12">
    <ul class="nav nav-pills" id="myTab">
      <li {{ 'class="active"' if req.getParam("q")!="enabled" }}><a href="/admin/users/{{req.id}}/phots">Disabled</a></li>
      <li {{ 'class="active"' if req.getParam("q")=="enabled" }}><a href="/admin/users/{{req.id}}/phots?q=enabled">Enabled</a></li>
    </ul>
  </div>
  {% if page.pail %}
    <div class="col-sm-12 col-md-6">
      <form class="form-inline pull-right" role="pagination_options">
        {{page.options}}
      </form>
    </div>
  {% endif %}
</div>
<br>

<div class="row">
  <div class="col-md-12">
    {% if page.pail %}
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <th></th>
          <th>Title</th>
          <th>Created</th>
        </thead>
        <tbody>
          {% for phot in page.pail %}
            <tr {{ 'class="danger"' if phot.disable }}>
              <td>
                <a href="/phots/{{phot.short_code}}"><img src="/i/{{phot.filename}}" alt="{{phot.filename}}" class="img"></a>
              </td>
              <td><a href="/phots/{{phot.short_code}}">{{phot.title|truncate(25)}}</a></td>
              <td>{{phot.formated_created}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="jumbotron">
        <p>This user has no phots!</p>
      </div>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{page.paginate}}
  </div>
</div>
