+++
theme_color: orange
nav: admin_users
breadcrumbs_top: True
base: skeletons/sidebar

scriptFiles:
 - transientbug/admin/user
+++
{{tabs}}
<form role="form" method="POST">
  <div class="row">
    <div class="col-md-6">
      <b>Created on:</b> {{user.formated_created}}<br>
      <br>
      <div class="form-group {{ 'has-error' if error=="email" }}">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email..." name="email" value="{{user.email}}">
        {% if error=="email" %}
          <span class="help-text">
            {{error_msg}}
          </span>
        {% endif %}
      </div>
      <div class="form-group {{ 'has-error' if error=="password" }}">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password..." name="password" value="{{password}}">
        <span class="help-text">
          Only changes the password if not blank. If resetting a users password, be sure to send them an email with the new password and instructions to change it.
        </span>
        {% if error=="password" %}
          <span class="help-text">
            {{error_msg}}
          </span>
        {% endif %}
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="disable" value="true" {{ 'checked' if user.disable }}> Disable account?
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <fieldset>
        <div class="form-group" id="groups">
          {% for group in user.groups %}
            <div class="input-group">
              <input class="form-control input-sm" name="groups" type="text" value="{{group}}" />
              <span class="input-group-btn">
                <button class="btn btn-default btn-sm"><i class="fa fa-times"></i></button>
              </span>
            </div>
            <br>
          {% endfor %}
        </div>
        <div class="form-group">
          <button class="btn btn-default btn-sm" id="add_group"><i class="fa fa-plus"></i></button>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="btn btn-theme btn-sm pull-right"><i class="fa fa-check"></i> Update</button>
    </div>
  </div>
</form>
