+++
nav:
  screenshots: true
+++
{{#pictures}}
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="thumbnail">
        <img src="/scrn/{{{.}}}" alt="{{.}}">
        <div class="caption">
          <h6>{{{.}}}</h6>
          <p>
            <div class="btn-group">
              <button type="button" class="btn btn-success btn-sm">Link</button>
              <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                <i class="icon-chevron-down"></i>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/scrn/{{{.}}}">Raw link</a></li>
                <li><a href="/screenshots/view/{{{.}}}">Page link</a></li>
              </ul>
            </div>
            <a href="#" class="btn btn-default btn-sm">Edit</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
{{/pictures}}
