+++
base: skeletons/navbar
nav: phots

scriptFiles:
 - lib/typeahead.bundle.min
 - lib/handlebars-v1.3.0
 - lib/mousetrap.min
 - lib/bootstrap-growl.min
 - lib/base64
 - public/phots/search
 - lib/URI
 - public/phots/phots

stylesheets:
 - growl
+++

{% if phot_page.pail %}
  ![[partials/public/phots/list]]
{% else %}
  <div class="jumbotron">
    <h1>Um...</h1>
    <p>We currently don't have any photos in the collection!</p>
    {% if session.has_group("phots") %}
      <a href="/new/phot" class="btn btn-green">New</a>
    {% endif %}
  </div>
{% endif %}
