+++
nav: phots

scriptFiles:
 - transientbug/phots
+++

{% if page.pail %}
  ![[partials/public/phots/list]]
{% else %}
  <div class="jumbotron">
    <h1>Um...</h1>
    <p>We currently don't have any photos in the collection!</p>
    {% if req.session.has_phots %}
      <a href="/new/phot" class="btn btn-green">New</a>
    {% endif %}
  </div>
{% endif %}
