+++
nav: phots
scriptFiles:
 - lib/typeahead.min
 - transientbug/phots
+++

<div class="row">
  <div class="col-md-12">
    <b>Top match: </b> <span class="label label-green">{{tag|replace("_", " ")}}</span><br>
    <br>
    {% if tags %}
      <b>Similar tags: </b>
      {% for t in tags %}
        <a href="/phots/tags/{{t}}"><span class="label label-green">{{t|replace("_", " ")}}</span></a> 
      {% endfor %}
    {% else %}
      <p>No similar tags found...</p>
    {% endif %}
  </div>
</div>
<br>

{% if page.pail %}
  ![[partials/public/phots/list]]
{% else %}
  <div class="jumbotron">
    <h1>Um...</h1>
    <p>We currently don't have any photos in the collection which have tags that match {{tag}}!</p>
    {% if req.session.has_phots %}
      <a href="/new/phot" class="btn btn-green">New</a>
    {% endif %}
  </div>
{% endif %}
