+++
base: skeletons/navbar
nav: phots

scriptFiles:
 - public/phots/phots
+++
<div class="row">
  <div class="col-md-6 col-sm-12">
    <form method="GET" action="/phots/search" class="form-inline">

      <div class="input-group input-group-sm typeahead">
        {% if session.has_group("phots") %}
          <span class="input-group-btn">
            <a href="/new/phot" class="btn btn-green btn-sm">Add</a>
          </span>
        {% endif %}
        <input type="text" class="form-control search" name="s" id="search" placeholder="Search...">
        <span class="input-group-btn">
          <button class="btn btn-green btn-sm" type="submit"><i class="fa fa-search"></i></button>
        </span>
      </div>

    </form>
  </div>
  <div class="col-md-6 col-sm-12">
  </div>
</div>
<br>
<div class="phots-collection">
  {% if tags %}
    <div class="tags">
      {% for tag in tags %}
        <a href="/phots/search?s=tag:{{tag}}"><span class="label label-green">{{tag|replace("_", " ")}}</span></a>
      {% endfor %}
    </div>
  {% else %}
    <div class="jumbotron">
      <h1>No tags</h1>
      <p>So sad...</p>
    </div>
  {% endif %}
</div>
