+++
nav: phots
scriptFiles:
 - lib/typeahead.min
 - pillbox
 - done_typing
 - check_field
 - public/phots/phots
 - public/phots/phot

stylesheets:
 - pillbox

+++

<div class="row">
  <div class="col-md-6 col-sm-12">
    <form method="GET" action="/phots/tags" class="form-inline">

      <div class="input-group input-group-sm typeahead">
        {% if req.session.has_phots %}
          <span class="input-group-btn">
            <a href="/new/phot" class="btn btn-green btn-sm">Add</a>
          </span>
        {% endif %}
        <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
        <span class="input-group-btn">
          <button class="btn btn-green btn-sm" type="submit"><i class="fa fa-search"></i></button>
        </span>
      </div>

    </form>
  </div>
  <div class="col-md-6 col-sm-12">
  </div>
</div>
<br>

<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="panel panel-{{ 'red' if phot.disable else 'green' }}">
      <div class="panel-heading">
        <h3 class="panel-title">{{phot.title}} {{ 'Disabled' if phot.disable }} <small>({{phot.filename}})</small></h3>
      </div>
      <div class="panel-body">
        <div style="text-align: center;">
          <img src="/i/{{phot.filename}}" alt="{{phot.filename}}" class="col-md-12">
        </div>
        <br>
        <b>Added to collection: </b>{{phot.formated_created}}<br>
        {% if phot.url %}
          <b>From: </b>{{phot.url}}<br>
        {% endif %}
        <br>
        {% for tag in phot.tags %}
          <a href="/phots/search?s=tag:{{tag}}"><span class="label label-green">{{tag|replace("_", " ")}}</span></a>
        {% endfor %}
        <br>
        <br>

        {% if req.session.has_phots %}
          <form role="form" method="POST">
            <div class="form-group">
              <label for="name">Rename</label>
              <input type="text" class="form-control" id="phot_name" name="name" value="{{phot.title}}" required>
            </div>
            <div class="form-group">
              <input type="text" name="tags" id="phot_tags" value="{{phot.tags|join(",")}}">
            </div>
            {% if phot.disable %}
              <button class="btn btn-default toggle_btn" data-id="{{phot.id}}" data-title="Enable?"><i class="icon-remove"></i> Disabled</button>
            {% else %}
              <button class="btn btn-green toggle_btn" data-id="{{phot.id}}" data-title="Disable?"><i class="icon-ok"></i> Enabled</button>
            {% endif %}

            <button id="new_phot" type="submit" class="btn btn-green pull-right"><i class="fa fa-check"></i> Update</button>
          </form>
        {% endif %}

      </div>
    </div>
  </div>
</div>
