+++
base: skeletons/sidebar
theme_color: orange

nav: admin_annoucements
breadcrumbs_top: True

scriptFiles:
  - admin/announcements/announcement
+++

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-12">
    ![[partials/admin/announcements/edit]]
  </div>
</div>
