+++
theme_color: red

nav:
  notes: true
+++

<div class="row">
  <div class="col-md-{{ '5' if req.session.has_notes else '6' }} col-sm-12">
    <form method="GET" action="/notes/by/tags" class="form-inline">

      <div class="form-group">

        <div class="input-group">
          {% if req.session.has_notes %}
            <span class="input-group-btn">
              <a href="/notes/new" class="btn btn-theme btn-sm">New</a>
            </span>
          {% endif %}
          <input type="text" class="form-control input-sm" name="q" value="{{q}}" placeholder="Search Tags...">
          <span class="input-group-btn">
            <button class="btn btn-theme btn-sm" type="submit"><i class="icon-search"></i></button>
          </span>
        </div>
      </div>

    </form>
  </div>
  <div class="col-sm-12 col-md-6">
    <form class="form-inline pull-right" role="pagination_options">
      {% if req.session.userID %}
        <div class="form-group">
          <label class="sr-only" for="filter">Filter</label>
          <select name="filter" class="input-sm form-control">
            <option value=all {{ 'selected="selected"' if type=="all" }}>All</option>
            <option value=private {{ 'selected="selected"' if type=="private" }}>Private</option>
            <option value=public {{ 'selected="selected"' if type=="public" }}>Public</option>
          </select>
        </div>
      {% endif %}

      {{page.options}}

    </form>
  </div>
</div>
<br>

{% if tag %}
  <div class="row">
    <div class="col-md-12">
      <dl class="dl-horizontal">
        <dt>Top match:</dt>
        <dd><a href="/notes/by/tags/{{tag}}"><span class="label label-theme">{{tag}}</span></a></dd>
        {% if tags %}
          <br>
          <dt>Similar tags:</dt>
          <dd>
            {%- for tag in tags %}
              <a href="/notes/by/tags/{{tag}}"><span class="label label-theme">{{tag}}</span></a> 
            {%- endfor %}
          </dd>
        {% endif %}
      </dl>
    </div>
  </div>
{% endif %}

{% for note in page.pail %}
  <div class="row">
    <div class="col-md-12">
      <h2>
        {% if req.session.userID==note.user %}
          {% if note.public %}
            <i class="icon-eye-open"></i>
          {% else %}
            <i class="icon-eye-close"></i>
          {% endif %}
        {% endif %}
        <a href="/notes/view/{{note.short_code}}">{{note.title}}</a><br>
        <small>
          {% if req.session.userID==note.user %}
            Yours! <a href="/notes/edit/{{note.short_code}}">(Edit)</a>
          {% else %}
            By <a href="/notes/by/user/{{note.formated_author}}">{{note.formated_author}}</a>
          {% endif %} - {{note.formated_time}}
        </small>
      </h2>
      {% if page.pail|length==1 %}
        {{note.formated_contents}}
      {% else %}
        {{note.formated_short}}
      {% endif %}
      {% for tag in note.tags %}
        <a href="/notes/by/tags/{{tag}}"><span class="label label-theme">{{tag}}</span></a>
      {% endfor %}
      {% if not loop.last %}<hr>{% endif %}
    </div>
  </div>
{% endfor %}


<div class="row">
  <div class="col-md-12">
    {{page.paginate}}
  </div>
</div>
