+++
theme_color: red
nav: notes

scriptFiles:
  - pillbox
  - lib/typeahead.min
  - lib/bootstrap-markdown
  - transientbug/note

stylesheets:
  - pillbox
  - lib/bootstrap-markdown.min
+++

<div class="row">
  <div class="col-md-8 col-md-offset-2">
   ![[partials/public/notes/edit]]
  </div>
</div>
