+++
theme_color: red

nav:
  notes: true
+++

<div class="row">
  <div class="col-md-12">
    <div class="thumbnail">
      <div class="caption">
        <form method="POST">
          <fieldset>
            <legend>New Note...</legend>
            <div class="form-group">
              <input type="text" class="form-control" id="title" name="title" placeholder="Title..." required>
            </div>
            <div class="form-group">
              <textarea rows="20" class="form-control" name="contents" id="content"></textarea>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="public" value="true" /> Make this note public?
              </label>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="tags" placeholder="Tags...">
            </div>
            <hr>
            <button class="btn btn-theme" type="submit">Save</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
