+++
theme_color: red

nav:
  notes: true
+++

<div class="row">
  <div class="col-md-12">
    <div class="thumbnail">
      <div class="caption">
        <form method="POST">
          <fieldset>
            <legend>New Note...</legend>
            <div class="form-group">
              <input type="text" class="form-control" id="title" name="title" placeholder="Title..." required>
            </div>
            <div class="form-group">
              <textarea rows="20" class="form-control" name="contents" id="content" placeholder="Note Contents..."></textarea>
              <span class="help-block"><small>Text can be formated with <a href="http://daringfireball.net/projects/markdown/syntax">Daring Fireball's Markdown</a>. Most HTML is escaped.</small></span>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="public" value="true" /> Make this note public?
                <span class="help-block"><small>This determines if the note will be visible on <a href="/notes/public">/notes/public</a> and <a href="/notes/tags">/notes/tags</a> pages.</small></span>
              </label>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="tags" placeholder="Tags..." />
              <span class="help-block"><small>Tags can be comma separated.</small></span>
            </div>
            <hr>
            <button class="btn btn-theme" type="submit">Save</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
