+++
nav: phots
scriptFiles:
 - lib/typeahead.min
 - transientbug/phots
+++

{% if page.pail %}
  {% set v=req.get_param("v", "cards") %}
  {% set filter=req.get_param("filter", "all") %}
  <div class="row">
    <div class="col-md-5 col-sm-12">
      <form method="GET" action="/phots/tags" class="form-inline">
        <div class="form-group">
          <div class="input-group input-group-sm typeahead">
            {% if req.session.has_phots %}
              <span class="input-group-btn">
                <a href="/new/phot" class="btn btn-green btn-sm">Add</a>
              </span>
            {% endif %}
            <input type="text" class="form-control" name="q" id="q" placeholder="Search Tags...">
            <span class="input-group-btn">
              <button class="btn btn-green btn-sm" type="submit"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
      </form>
    </div>

    <div class="col-sm-12 col-md-7">
      <form class="form-inline pull-right" role="pagination_options">
        <div class="btn-group" data-toggle="buttons" id="views">
          <label class="btn btn-default btn-sm {{ 'active' if v=="cards" }}">
            <input type="radio" name="v" value="cards" {{ 'checked' if v=="cards" }}/><i class="fa fa-th"></i>
          </label>
          <label class="btn btn-default btn-sm {{ 'active' if v=="links" }}">
            <input type="radio" name="v" value="links" {{ 'checked' if v=="links" }}/><i class="fa fa-link"></i>
          </label>
        </div>
        <div class="form-group">
          <label class="sr-only" for="filter">Filter</label>
          <select id="filer" name="filter" class="form-control input-sm">
            <option value=all {{ 'selected="selected"' if filter=="all" }}>All</option>
            <option value=gif {{ 'selected="selected"' if filter=="gif" }}>GIF</option>
            <option value=jpg {{ 'selected="selected"' if filter=="jpg" }}>JPG</option>
            <option value=png {{ 'selected="selected"' if filter=="png" }}>PNG</option>
            <option value=tiff {{ 'selected="selected"' if filter=="tiff" }}>TIFF</option>
          </select>
        </div>

        {{page.options}}

      </form>
    </div>
  </div>
  <br>
{% endif %}

<div class="row">
  <div class="col-md-12">
    <b>Top match: </b> <span class="label label-green">{{tag|replace("_", " ")}}</span><br>
    <br>
    {% if tags %}
      <b>Similar tags: </b>
      {% for t in tags %}
        <a href="/phots/tags/{{t}}"><span class="label label-green">{{t|replace("_", " ")}}</span></a> 
      {% endfor %}
    {% else %}
      <p>No similar tags found...</p>
    {% endif %}
  </div>
</div>
<br>

{% if page.pail %}
  {% if v=="cards" %}
    <div class="cards">
      {% for pic in page.pail %}
        {% if loop.index%3==1 %}
          <div class="row">
        {% endif %}
        <div class="col-sm-6 col-md-4" style="margin-bottom: 20px;">
          <div class="thumbnail">
            <a href="/i/{{pic.filename}}" class="thumbnail"><img src="/i/{{pic.filename}}" style="height: 200px" alt="{{pic.filename}}"></a>
            <div class="caption">
              <div class="row">
                <div class="col-md-8">
                  <a href="/i/{{pic.filename}}"><h6 data-toggle="tooltip" title="{{pic.title}}">{{pic.title}}</h6></a>
                </div>
                <div class="col-md-4">
                  <a href="/phots/{{pic.filename}}" class="btn btn-green btn-sm pull-right">Page</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if loop.index%3==0 or loop.last %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% elif v=="links" %}
    <div class="links">
      <div class="row">
        <div class="col-md-12">
          {% for pic in page.pail %}
            <ul class="list-unstyled">
              <li>
                <a href="/phots/view/{{pic.filename}}" class="btn btn-green btn-xs">Page</a> <a href="/i/{{pic.filename}}">{{pic.filename}}</a>
                {% if pic.tags %}
                  {% for t in pic.tags %}
                    <a href="/phots/tags/{{t}}">
                      <span class="label label-green">{{t|replace("_", " ")}}</span>
                    </a>
                  {% endfor %}
                {% endif %}
              </li>
            </ul>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-md-12">
      {{page.paginate}}
    </div>
  </div>
{% else %}
<div class="jumbotron">
  <h1>Um...</h1>
  <p>We currently don't have any photos in the collection which have tags that match {{tag}}!</p>
  {% if req.session.has_phots %}
    <a href="/new/phot" class="btn btn-green">New</a>
  {% endif %}
</div>
{% endif %}
