+++
nav:
  phots: true
+++

<div class="row">
  {{#req.session.has_phots}}
    <div class="col-sm-12 col-md-1">
      <a href="/phots/new" class="btn btn-theme btn-sm">Add</a>
    </div>
  {{/req.session.has_phots}}
  <div class="col-sm-12 col-md-3">
    <h4><a href="/phots"><i class="fa fa-picture"></i> Phots</a>{{#tag}} - Tag: {{tag}}{{/tag}}</h4>
  </div>
  {{^req.session.has_phots}}
    <div class="col-sm-12 col-md-1"></div>
  {{/req.session.has_phots}}
  <div class="col-sm-12 col-md-8">
  </div>
</div>
<br>

<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="panel panel-{{#phot.disable}}danger{{/phot.disable}}{{^phot.disable}}success{{/phot.disable}}">
      <div class="panel-heading">
        <h3 class="panel-title">{{phot.title}} <small>({{phot.filename}} from {{phot.formated_user}})</small> {{ 'Disabled' if phot.disable }}</h3>
      </div>
      <div class="panel-body">
        <div style="text-align: center;">
          <img src="/i/{{{phot.filename}}}" alt="{{phot.filename}}" class="col-md-12">
        </div>
        <br>
        Added to collection: {{phot.formated_created}} {{#phot.url}}from: {{phot.url}}{{/phot.url}}<br>
        {{#phot.tags}}
          <a href="/phots/tags/{{.}}"><span class="label label-theme">{{.}}</span></a>
        {{/phot.tags}}
        <br>
        <br>

        {{#req.session.has_phots}}
        <form role="form" action="/phots/edit/update/{{{phot.filename}}}" method="POST">
          <div class="form-group">
            <label for="name">Rename</label>
            <input type="text" class="form-control" id="name" name="name" value="{{phot.title}}" required>
          </div>
          <div class="form-group">
            <input type="text" name="tags" id="pillbox" value="{{phot.formated_tags}}">
          </div>
          <button type="submit" class="btn btn-theme">Submit</button>

          {{^phot.disable}}
            <button class="btn btn-default toggle_btn pull-right" data-id="{{phot.id}}" data-title="Enable?"><i class="fa fa-times"></i> Disabled</button>
          {{/phot.disable}}
          {{#phot.disable}}
            <button class="btn btn-theme toggle_btn pull-right" data-id="{{phot.id}}" data-title="Disable?"><i class="fa fa-check"></i> Enabled</button>
          {{/phot.disable}}
        </form>
        {{/req.session.has_phots}}

      </div>
    </div>
  </div>
</div>
