+++
nav:
  phots: true
+++

<div class="jumbotron">
  <h1>OH NO!</h1>
  <p>We couldn't find anything that matched what you were looking for...</p>
  <form method="GET" action="/phots/tags" class="form-inline">

    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control input-sm" name="q" value="{{ q }}" placeholder="Search Tags...">
        <span class="input-group-btn">
          <button class="btn btn-theme btn-sm" type="submit"><i class="icon-search"></i></button>
        </span>
      </div>
    </div>

  </form>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Error</h3>
      </div>
      <div class="panel-body">
        <pre>{{error}}</pre>
        Perhaps you would like to return to <a href="/phots"><i class="icon-picture"></i> Phots</a>?
      </div>
    </div>
  </div>
</div>
