+++
nav:
  phots: true

scripts: "
      $('.thumbnail_h6').tooltip();
  "
+++

<div class="row">
  {{#req.session.has_phots}}
    <div class="col-sm-12 col-md-1">
      <a href="/phots/new" class="btn btn-theme btn-sm">Add</a>
    </div>
  {{/req.session.has_phots}}
  <div class="col-sm-12 col-md-3">
    <h4><a href="/phots"><i class="icon-picture"></i> Phots</a>{{#tag}} - Tag: {{tag}}{{/tag}}</h4>
  </div>
  {{^req.session.has_phots}}
    <div class="col-sm-12 col-md-1"></div>
  {{/req.session.has_phots}}
  <div class="col-sm-12 col-md-8">
    <form class="form-inline pull-right" role="pagination_options">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default btn-sm {{#cards}}active{{/cards}}">
          <input type="radio" name="v" value="cards" {{#cards}}checked{{/cards}}/><i class="icon-th"></i>
        </label>
        <label class="btn btn-default btn-sm {{#list}}active{{/list}}">
          <input type="radio" name="v" value="list" {{#list}}checked{{/list}}/><i class="icon-list"></i>
        </label>
        <label class="btn btn-default btn-sm {{#links}}active{{/links}}">
          <input type="radio" name="v" value="links" {{#links}}checked{{/links}}/><i class="icon-link"></i>
        </label>
      </div>
      <div class="form-group">
        <label class="sr-only" for="filter">Filter</label>
        <select id="filer" name="filter"class="input-sm">
          {{#filter}}<option value={{filter}}>{{filter}}</option>{{/filter}}
          <option value=all>all</option>
          <option value=gif>gif</option>
          <option value=jpg>jpg</option>
          <option value=png>png</option>
          <option value=tiff>tiff</option>
        </select>
      </div>
      <div class="form-group">
        <label class="sr-only" for="dir">Sort</label>
        <select id="dir" name="dir"class="input-sm">
          {{#page.direction}}<option value={{page.direction}}>{{page.direction}}</option>{{/page.direction}}
          <option value=desc>desc</option>
          <option value=asc>asc</option>
        </select>
      </div>
      <div class="form-group">
        <label class="sr-only" for="perpage">Perpage</label>
        <select id="perpage" name="perpage" class="input-sm">
          {{#page.perpage}}<option value={{page.perpage}}>{{page.perpage}}</option>{{/page.perpage}}
          <option value=24>24</option>
          <option value=48>48</option>
          <option value=all>All</option>
        </select>
      </div>
      <button type="submit" class="btn btn-theme btn-sm">Update</button>
    </form>
  </div>
</div>
<br>
<div class="row">
  {{#cards}}
    {{#pictures}}
      <div class="col-sm-6 col-md-4" style="margin-bottom: 20px;">
        <div class="thumbnail">
          <a href="/i/{{{filename}}}" class="thumbnail"><img src="/i/{{{filename}}}" style="height: 200px" alt="{{filename}}"></a>
          <div class="caption">
            <div class="row">
              <div class="col-md-8">
                <a href="/i/{{{filename}}}"><h6 class="thumbnail_h6" data-toggle="tooltip" title="{{title}}">{{{title}}}</h6></a>
              </div>
              <div class="col-md-4">
                <a href="/phots/view/{{{filename}}}" class="btn btn-theme btn-sm pull-right">Page</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/pictures}}
  {{/cards}}
  {{#links}}
    <div class="col-md-12">
      {{#pictures}}
        <ul class="list-unstyled">
          <li><a href="/phots/view/{{filename}}" class="btn btn-theme btn-xs">Page</a> <a href="/i/{{{filename}}}">{{{filename}}}</a> {{#tags}}<a href="/phots/tags/{{.}}"><span class="label label-theme">{{.}}</span></a> {{/tags}}</li>
        </ul>
      {{/pictures}}
    </div>
  {{/links}}
  {{#list}}
    {{#pictures}}
      <div class="col-md-6 col-sm-12" style="margin-bottom: 20px;">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/i/{{{filename}}}" alt="{{title}}" height="64px" width="64px">
          </a>
          <div class="media-body">
            <a href="/i/{{{filename}}}"><h4 class="media-heading">{{title}}</h4></a>
            <a href="/phots/view/{{filename}}" class="btn btn-theme btn-xs">Page</a> Tags:

            {{#tags}}
              <a href="/phots/tags/{{.}}"><span class="label label-theme">{{.}}</span></a> 
            {{/tags}}
            {{^tags}}
              No tags...
            {{/tags}}
          </div>
        </div>
      </div>
    {{/pictures}}
  {{/list}}
</div>

{{#page.show_pager}}
  <ul class="pager">
    <li class="previous {{^page.has_prev}}disabled{{/page.has_prev}}">
      {{#page.has_prev}}
        <a href="?page={{page.prev_page}}&perpage={{page.perpage}}&dir={{page.direction}}&filter={{filter}}&v={{v}}"><i class="icon-chevron-left"></i> Prev</a>
      {{/page.has_prev}}
      {{^page.has_prev}}
        <a><i class="icon-chevron-left"></i> Prev</a>
      {{/page.has_prev}}
    </li>
    <li class="next {{^page.has_next}}disabled{{/page.has_next}}">
      {{#page.has_next}}
        <a href="?page={{page.next_page}}&perpage={{page.perpage}}&dir={{page.direction}}&filter={{filter}}&v={{v}}">Next <i class="icon-chevron-right"></i></a>
      {{/page.has_next}}
      {{^page.has_next}}
        <a>Next <i class="icon-chevron-right"></i></a>
      {{/page.has_next}}
    </li>
  </ul>
{{/page.show_pager}}
