<form method="POST" action="/new/phot" id="quick_phot" enctype="multipart/form-data">
  <fieldset>
    <div class="form-group">
      <input type="url" class="form-control" id="phot_url" name="url" placeholder="URL...">
    </div>
    <h3>Or...</h3>
    <div class="form-group">
      <input type="file" id="phot_file" name="file" data-title="Phot">
    </div>
    <hr>
    <div class="form-group">
      <input type="text" class="form-control" id="phot_name" name="title" placeholder="Image Title..." required>
    </div>
    <div class="form-group">
      <input type="text" id="phot_tags" name="tags">
    </div>
    <hr>
    <button class="btn btn-green btn-block" type="submit">Add</button>
  </fieldset>
</form>
