<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Phot Search</h3>
  </div>
  <div class="panel-body">

    <form method="GET" action="/phots/tags" class="form-inline">
      <div class="form-group">
        <div class="input-group input-group-sm typeahead">
          <input type="text" class="form-control" name="q" id="q" value="" placeholder="Search Tags...">
          <span class="input-group-btn">
            <button class="btn btn-green btn-sm" type="submit"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </form>

  </div>
</div>
