{% for note in page["notes"].pail[:10] %}
  <div class="note">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div  class="note-header">
          <a href="/notes/{{note.short_code}}"><h1>{{note.title}}</h1></a>
          <small><b>By</b> {{ note.author.username if note.author.id!=session.id else 'You!'}} - {{note.formated_time}}{% if session.id %} | <b>Visibility:</b> {{ 'Public' if note.public else 'Private' }} | <b>Status:</b> {{ 'Draft' if note.draft else 'Published' }} {% endif %}</small>
        </div>
        <br>
        <div class="note-body">
          {{note.formated_contents|truncate(250)}}
        </div>
        <br>
        <b>Tags: </b>
        {% for tag in note.tags %}
          <a href="/notes/tags/{{tag}}"><span class="label label-red">{{tag}}</span></a>
        {% endfor %}
        <hr>
      </div>
    </div>
  </div>
{% endfor %}
