+++
nav: phots
+++

<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="thumbnail">
      <div class="caption">
        <form method="POST" enctype="multipart/form-data">
          <fieldset>
            <legend>The usual...</legend>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <input type="url" class="form-control" id="url" name="url" placeholder="URL...">
                </div>
              </div>
              <div class="col-md-2">
                <h2>Or...</h2>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <input type="file" class="form-control" id="file" name="file">
                </div>
              </div>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" id="title" name="title" placeholder="Image Title..." required>
            </div>
            <div class="form-group">
              <input type="text" id="pillbox" name="tags">
            </div>
            <hr>
            <button class="btn btn-theme btn-block" type="submit">Add</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
