+++
nav: new_phot

scriptFiles:
  - lib/typeahead.min
  - pillbox
  - done_typing
  - check_field
  - transientbug/phot

stylesheets:
  - pillbox
+++

<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="thumbnail">
      <div class="caption">
        {{phot_create}}
      </div>
    </div>
  </div>
</div>
