+++
theme_color: red

nav: notes
+++

{% if note_page.pail %}
  ![[partials/public/notes/list]]
{% else %}
  <div class="jumbotron">
    <h1>No Notes :/</h1>
    {% if req.session.has_notes %}
    <a href="/new/note" class="btn btn-red">New</a> or <a href="/notes/yours">Your notes</a>
    {% endif %}
  </div>
{% endif %}
