+++
base: skeletons/empty

nav: notes

scriptFiles:
  - lib/bespoke
  - lib/bespoke-progress
  - lib/bespoke-keys
  - lib/bespoke-touch
  - lib/bespoke-hash
  - lib/bespoke-blackout
  - transientbug/slideshow
+++

<article id="presentation">
   {{body}}
</article>
