+++
theme_color: red
nav: notes

scriptFiles:
  - pillbox
  - lib/typeahead.min
  - lib/bootstrap-markdown
  - lib/jquery-ui-1.9.1.custom.min
  - lib/jquery.tocify.min
  - transientbug/note

stylesheets:
  - pillbox
  - tocify
  - lib/bootstrap-markdown.min
+++


{% if req.session.id and req.session.id==note.author.id and req.session.has_notes %}
  <ul class="nav nav-pills">
    <li class="active"><a href="#view" data-toggle="tab">View</a></li>
    <li><a href="#edit" data-toggle="tab">Edit</a></li>
  </ul>
{% endif %}
<div class="tab-content">
  <div class="tab-pane active" id="view">
    ![[partials/public/notes/view]]
  </div>
  {% if req.session.id and req.session.id==note.author.id and req.session.has_notes %}
    <div class="tab-pane" id="edit">
      <br>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          ![[partials/public/notes/edit]]
        </div>
      </div>
    </div>
  {% endif %}
</div>
