+++
theme_color: red

nav: notes

scriptFiles:
 - lib/typeahead.bundle.min
 - lib/handlebars-v1.3.0
 - lib/mousetrap.min
 - public/notes/notes
+++

{% if note_page.pail %}
  ![[partials/public/notes/table]]
{% else %}
  <div class="jumbotron">
    <h1>No Notes :/</h1>
    {% if session.has_group("notes") %}
    <a href="/new/note" class="btn btn-red">New</a>
    {% endif %}
  </div>
{% endif %}
