+++
base: skeletons/header
+++
<h1 id="about">What is transientBug?</h1>
<p>First and for most, transientBug is an experiment and sandbox for publishing my own web app, however the site itself is mostly a private, login only site. One of the exceptions to this is the image collection, consisting of various gifs, memes, and other images from around the web. You can view that <a href="/phots">collection here.</a></p>
<hr>
<h1>Technical information - <small>What makes transientBug run</small></h1>
<p>All code for transientBug can be found online at <a href="https://github.com/transientBug/transientBug">Github</a> and is licensed under Creative Commons Attribution-NonCommercial-ShareAlike 3.0.</p>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <h3>Python</h3>
    <ul>
      <li><a href="https://github.com/JoshAshby/seshat">Seshat, a WSGI web framework for Python I wrote</a></li>
      <li><a href="https://pypi.python.org/pypi/RethinkORM/">My RethinkORM module</a></li>
      <li>An unpublished Redis ORM module</li>
      <li><a href="https://pypi.python.org/pypi/pystache">Pystache</a></li>
      <li><a href="http://jinja.pocoo.org/">Jinja2</a></li>
      <li><a href="http://crsmithdev.com/arrow/">Arrow</a></li>
      <li><a href="http://docs.python-requests.org/en/latest/">Requests</a>
      <li><a href="http://pyyaml.org/">PyYAML</a></li>
      <li>Lots of smaller Python packages, see the source if you want to dig them all out</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <h3>Databases</h3>
    <ul>
      <li><a href="http://www.rethinkdb.com/">RethinkDB</a></li>
      <li><a href="http://redis.io/">Redis</a></li>
      <li>Flat files! YAML mostly</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <h3>Front end</h3>
    <ul>
      <li><a href="http://getbootstrap.com/">Twitter Bootstrap v3</a></li>
      <li>Custom Bootstrap theme, Cyti</li>
      <li><a href="http://jquery.com/">jQuery</a></li>
      <li><a href="http://fontawesome.io/">Fontawesome for the icons</a></li>
      <li><a href="http://www.google.com/fonts/specimen/Maven+Pro">For the font, Maven Pro (also Noto Sans)</a></li>
      <li>Probably lots of other smaller Javascript libraries</li>
    </ul>
  </div>
</div>
