Hey there, {{user.username}}!

We just wanted to let you know that an account was just registered with this email address on transientBug.com

transientBug.com is a small project site which hosts a gif image collection, a small and simple blog and some other stuff.

If you believe that this was in error, please send an email to: register@transientbug.com and we'll work to get this sorted out.

Please do not reply to this email.

Thanks!
- transientBug.com
