Hey there, {{invite.email}}!

You've been sent an invite for transientBug.com!

transientBug.com is a small project site which hosts a gif image collection, a small and simple blog and some other stuff.

If you know what this is, please navigate here: <a href="https://transientbug/register?c={{invite.short_code}}">https://transientbug/register?c={{invite.short_code}}</a>

Or, you can navigate to https://transientbug.com/register and enter your code:

      {{invite.short_code}}


Please do not reply to this email.

Thanks!
- transientBug.com
