Hey there, {{user.username}}!
There was a password reset request for your account. If you believe this was in error, or you didn't request it, please ignore this email.

If you did mean to do this, please navigate here: <a href="https://transientbug.com/reset?c={{user.reset_code}}">https://transientbug.com/reset?c={{user.reset_code}}</a>

Please do not reply to this email.

Thanks!
- transientBug.com
