+++
theme_color: red

nav:
  notes: true
+++

<div class="jumbotron">
  <h1>Oh...</h1>
  <p class="lead">Well this is embarrassing...</p>
  <p>Seems there aren't any images within the system. This is probably a sign of complete destruction, but rest assured our specially trained monkeys are hard at working trying to get this fixed.</p>
</div>
