+++
base: skeletons/sidebar
theme_color: red

scriptFiles:
  - lib/epiceditor.min
  - lib/typeahead.min
  - pillbox
  - transientbug/note

stylesheets:
  - pillbox
+++

<div class="tab-content">
  <div class="tab-pane" id="info">
    <form method="POST" id="edit_form">
      <fieldset>
        <textarea name="contents" id="content" style="display:none">{{note.contents}}</textarea>
        <div class="form-group">
          <input type="text" class="form-control" id="title" name="title" placeholder="Title..." value="{{note.title}}" required>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="public" value="true" {{ 'checked' if note.public }} /> Make this note public?
            <span class="help-block"><small>This determines if the note will be visible on <a href="/notes/public">/notes/public</a> and <a href="/notes/tags">/notes/tags</a> pages.</small></span>
          </label>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="tags" id="tags" placeholder="Tags..." value="{{tags}}"/>
        </div>

        <button type="button" class="btn btn-sm btn-info" id="del_btn" data-short={{note.short_code}}><i class="fa fa-trash-o"></i> Delete</button>
        <button type="submit" class="btn btn-theme pull-right btn-sm"><i class="fa fa-fw fa-save"></i> Save</button>

      </fieldset>
    </form>
  </div>
  <div class="tab-pane active" id="edit">
    <div id="epiceditor"></div>
  </div>
  <div class="tab-pane" id="view">
    <div id="preview"></div>
  </div>
</div>
