+++
theme_color: red

nav:
  notes: true
+++

<div class="jumbotron">
  <h1>Whoa there...</h1>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Error</h3>
      </div>
      <div class="panel-body">
        <pre>{{error}}</pre>
        Perhaps you would like to return to <a href="/notes"><i class="icon-file-text"></i> Notes</a>?
      </div>
    </div>
  </div>
</div>
