+++
theme_color: red

nav:
  notes: true
+++

<div class="row">
  {{#req.session.has_notes}}
    <div class="col-sm-12 col-md-1">
      <a href="/notes/new" class="btn btn-theme btn-sm">Add</a>
    </div>
  {{/req.session.has_notes}}
  <div class="col-sm-12 col-md-5">
    <h4><a href="/notes"><i class="icon-file-text"></i> Notes</a>{{#tag}} - Tag: {{tag}}{{/tag}}{{#user}} - User: {{user}}{{/user}}</h4>
  </div>
  {{^req.session.has_notes}}
    <div class="col-sm-12 col-md-1"></div>
  {{/req.session.has_notes}}
  <div class="col-sm-12 col-md-6">
    <form class="form-inline pull-right" role="pagination_options">
      {{#req.session.has_notes}}
        {{#type}}
          <div class="form-group">
            <label class="sr-only" for="filter">Filter</label>
            <select name="filter" class="input-sm">
              {{#type}}<option value={{type}}>{{type}}</option>{{/type}}
              <option value=all>all</option>
              <option value=private>private</option>
              <option value=public>public</option>
            </select>
          </div>
        {{/type}}
      {{/req.session.has_notes}}
      <div class="form-group">
        <label class="sr-only" for="dir">Sort</label>
        <select id="dir" name="dir"class="input-sm">
          {{#page.direction}}<option value={{page.direction}}>{{page.direction}}</option>{{/page.direction}}
          <option value=desc>desc</option>
          <option value=asc>asc</option>
        </select>
      </div>
      <div class="form-group">
        <label class="sr-only" for="perpage">Perpage</label>
        <select id="perpage" name="perpage" class="input-sm">
          {{#page.perpage}}<option value={{page.perpage}}>{{page.perpage}}</option>{{/page.perpage}}
          <option value=25>25</option>
          <option value=50>50</option>
          <option value=all>All</option>
        </select>
      </div>
      <button type="submit" class="btn btn-theme btn-sm">Update</button>
    </form>
  </div>
</div>
<br>

{{#notes}}
<div class="row">
  <div class="col-md-12">
    <a href="/notes/view/{{short_code}}"><h2><i class="icon-eye-{{#public}}open{{/public}}{{^public}}close{{/public}}"></i> {{title}} <small> By {{_formated_author}} - {{_formated_created}}</small></h2></a>
    <br>
    {{{_formated_short_contents}}}
    {{#tags}}
      <a href="/notes/tags/{{.}}"><span class="label label-theme">{{.}}</span></a>
    {{/tags}}
    <hr>
  </div>
</div>
{{/notes}}

{{#page.show_pager}}
  <ul class="pager">
    <li class="previous {{^page.has_prev}}disabled{{/page.has_prev}}">
      {{#page.has_prev}}
        <a href="?page={{page.prev_page}}&perpage={{page.perpage}}&dir={{page.direction}}&filter={{type}}"><i class="icon-chevron-left"></i> Prev</a>
      {{/page.has_prev}}
      {{^page.has_prev}}
        <a><i class="icon-chevron-left"></i> Prev</a>
      {{/page.has_prev}}
    </li>
    <li class="next {{^page.has_next}}disabled{{/page.has_next}}">
      {{#page.has_next}}
        <a href="?page={{page.next_page}}&perpage={{page.perpage}}&dir={{page.direction}}&filter={{type}}">Next <i class="icon-chevron-right"></i></a>
      {{/page.has_next}}
      {{^page.has_next}}
        <a>Next <i class="icon-chevron-right"></i></a>
      {{/page.has_next}}
    </li>
  </ul>
{{/page.show_pager}}
