+++
theme_color: red

nav:
  notes: true
+++

<div class="row">
  {{#req.session.has_notes}}
    <div class="col-sm-12 col-md-1">
      <a href="/notes/new" class="btn btn-theme btn-sm">Add</a>
    </div>
  {{/req.session.has_notes}}
  <div class="col-sm-12 col-md-5">
    <h4><a href="/notes"><i class="icon-file-text"></i> Notes</a>{{#tag}} - Tag: {{tag}}{{/tag}}{{#user}} - User: {{user}}{{/user}}</h4>
  </div>
  {{^req.session.has_notes}}
    <div class="col-sm-12 col-md-1"></div>
  {{/req.session.has_notes}}
  <div class="col-sm-12 col-md-6">
    <form class="form-inline pull-right" role="pagination_options">
      {{#req.session.has_notes}}
        {{#type}}
          <div class="form-group">
            <label class="sr-only" for="filter">Filter</label>
            <select name="filter" class="input-sm">
              {{#type}}<option value={{type}}>{{type}}</option>{{/type}}
              <option value=all>all</option>
              <option value=private>private</option>
              <option value=public>public</option>
            </select>
          </div>
        {{/type}}
      {{/req.session.has_notes}}
      {{{page.options}}}
    </form>
  </div>
</div>
<br>

{{#notes}}
<div class="row">
  <div class="col-md-12">
    <a href="/notes/view/{{short_code}}"><h2><i class="icon-eye-{{#public}}open{{/public}}{{^public}}close{{/public}}"></i> {{title}} <small> By {{_formated_author}} - {{_formated_created}}</small></h2></a>
    <br>
    {{{_formated_short_contents}}}
    {{#tags}}
      <a href="/notes/tags/{{.}}"><span class="label label-theme">{{.}}</span></a>
    {{/tags}}
    <hr>
  </div>
</div>
{{/notes}}

{{{page.pager}}}
