+++
theme_color: red

nav: notes
+++

<div class="row">
  <div class="col-md-12">
    <b>Top match: </b> <span class="label label-red">{{tag|replace("_", " ")}}</span><br>
    <br>
    {% if tags %}
      <b>Similar tags: </b>
      {% for t in tags %}
        <a href="/notes/tags/{{t}}"><span class="label label-red">{{t|replace("_", " ")}}</span></a> 
      {% endfor %}
    {% else %}
      <p>No similar tags found...</p>
    {% endif %}
  </div>
</div>
<br>

{% if page.pail %}
  {{note_list}}
{% else %}
  <div class="jumbotron">
    <h1>No Notes :/</h1>
    {% if req.session.has_notes %}
      <a href="/new/note" class="btn btn-red">New</a>
    {% endif %}
  </div>
{% endif %}
