+++
theme_color: red
base: skeletons/header
nav: notes
+++
<br>
<div class="row">
  <div class="col-md-12">
    <h2>
      <small>
        By {{note.author.username}} - {{note.formated_time}}
      </small>
    </h2>
    {{note.formated_contents}}
    {% for tag in note.tags %}
      <a href="/notes/tags/{{tag}}"><span class="label label-theme">{{tag}}</span></a>
    {% endfor %}
  </div>
</div>
