+++
theme_color: red
base: skeleton_header_navbar
nav:
  notes: true
+++
<br>
<div class="row">
  <div class="col-md-12">
    <h2><small> By {{note._formated_author}} - {{note._formated_created}} {{#req.session.has_notes}}<a href="/notes/edit/{{note.short_code}}">Edit</a>{{/req.session.has_notes}}</small></h2>
    <br>
    {{{note._formated_contents}}}
    {{#note.tags}}
      <a href="/notes/tags/{{.}}"><span class="label label-theme">{{.}}</span></a>
    {{/note.tags}}
  </div>
</div>
