+++
theme_color: red
base: skeletons/header
nav: notes
+++
<br>
<div class="row">
  <div class="col-md-12">
    <h2>
      <small>
        {% if req.session.id==note.author.id %}
          Yours! <a href="/notes/edit/{{note.short_code}}">(Edit)</a>
        {% else %}
          By {{note.author.username}}
        {% endif %} - {{note.formated_time}}
      </small>
    </h2>
    {{note.formated_contents}}
    {% for tag in note.tags %}
      <a href="/notes/tags/{{tag}}"><span class="label label-theme">{{tag}}</span></a>
    {% endfor %}
  </div>
</div>
