+++
base: skeleton_header_navbar
theme_color: blue
nav:
  screenshots: true
+++

<br>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <h4><i class="icon-screenshot"></i> Screenshots</h4>
  </div>
  <div class="col-sm-12 col-md-6">
    <form class="form-inline pull-right" role="pagination_options">
      {{{page.options}}}
    </form>
  </div>
</div>
<br>
<div class="row">
  <form method="POST"  enctype="multipart/form-data" class="form-inline">
    <div class="form-group col-md-6">
      <input type="file" name="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-theme">Upload</button>
  </form>
</div>
<br>
{{#page.pail}}
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="thumbnail">
        <a href="/scrn/{{{.}}}" class="thumbnail"><img src="/scrn/{{{.}}}" alt="{{.}}"></a>
        <div class="caption">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <a href="/scrn/{{{.}}}"><h6>{{{.}}}</h6></a>
            </div>
            <div class="col-sm-12 col-md-6">
              <button type="button" class="btn btn-danger btn-sm pull-right del_btn" data-img={{{.}}}>Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
{{/page.pail}}

{{{page.paginate}}}
