<ul class="nav list-group">
  <li><a href="/admin" class="{{ 'active' if command=="home" }}"><i class="fa fa-fw fa-dashboard"></i> Admin</a></li>
  <li><a href="/admin/announcements" class="{{ 'active' if command=="announcements" }}"><i class="fa fa-fw fa-bullhorn"></i> Announcements</a></li>
  <li><a href="/admin/buckets" class="{{ 'active' if command=="buckets" }}"><i class="fa fa-fw fa-gear"></i> Buckets</a></li>

  <li><a href="/admin/invites" class="{{ 'active' if command=="invites" }}"><i class="fa fa-fw fa-comment"></i> Invites</a></li>
  <li><a href="/admin/emails" class="{{ 'active' if command=="emails" }}"><i class="fa fa-fw fa-envelope"></i> Emails</a></li>

  <li><h4>Users</h4></li>
  <li><a href="/admin/users" class="{{ 'active' if command=="users" }}"><i class="fa fa-fw fa-user"></i> Users</a></li>
  <li><a href="/admin/phots" class="{{ 'active' if command=="phots" }}"><i class="fa fa-fw fa-picture-o"></i> Phots</a></li>
  <li><a href="/admin/notes" class="{{ 'active' if command=="notes" }}"><i class="fa fa-fw fa-file-text"></i> Notes</a></li>
  <li><a href="/admin/recipes" class="{{ 'active' if command=="recipes" }}"><i class="fa fa-fw fa-cutlery"></i> Recipes</a></li>
</ul>
