<ul class="nav list-group">
  <li class="active"><a href="#home" data-toggle="tab"><i class="fa fa-fw fa-home"></i> Home</a></li>
  {% if session.has_notes %}
    <li><a href="#quick_note" data-toggle="tab"><i class="fa fa-fw fa-file-text"></i> Quick Note</a>
  {% endif %}
</ul>
